:root {
    font-size: 9px;
    --font1: 'Amiri', serif;
    --font2: 'Quicksand', sans-serif;
    --dark: #372f2c;
    --red: #b91f32;
    --white: #eee;
    --shadowfilter: drop-shadow(5px 5px 5px rgba(104, 104, 104, 0.8));
}
/* font-family: 'Amiri', serif; For Title*/
/* font-family: 'Quicksand', sans-serif; For p*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    /* border: solid 1px rgb(240, 11, 11); */
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3.25rem;
    letter-spacing: 0.1em;
    color: var(--dark);
    font-family: var(--font1);
}

h2 {
    font-size: 3rem;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: var(--font1);
}
p {
    font-size: 1.9rem;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: var(--font2);
}



/* START */

header {
    width: 100vw;
    height: 100vh;
    background: url(../img/header_bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 110px;
}

header .header-nav-bar {
    height: 95px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

header .header-nav-bar nav ul {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    list-style: none;
}

header .header-nav-bar nav ul .nav-line {
    border-left: solid 0.7px var(--white);
    height: 17px;
    opacity: 0.7;
    transform: rotateZ(30deg);
    margin: 0px 2.95rem;
}

header .header-nav-bar nav ul a {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: var(--font2);
}

header .header-nav-bar nav ul a:hover {
    color: var(--red);
}

header .logo-cnt {
    width: 62px;
    height: 83px;
    padding: 7px 5px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

header .logo-cnt img {
    width: 100%;
}

header .header-nav-bar .social-links {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

header .header-nav-bar .social-links img{
    width: 80%;
    display: block;
    margin: 0 auto;
    
}

header .header-nav-bar .social-links a:not(:last-child) {
    margin-right: 2.95rem;
}

header .hero-text {
    display: flex;
    flex-flow: column;
    margin-top: 80px;
}

header .hero-text h1 {
    font-size: 7.5rem;
    font-family: var(--font1);
    font-weight: 100;
    line-height: 75px;
    letter-spacing: 0.1em;
    max-width: 670px;
    color: var(--white);
}

header .hero-text p {
    margin-top: 20px;
    font-size: 1.9rem;
    max-width: 520px;
    text-align: justify;
    color: var(--white);
}

header .learn-more-btn  {
    margin-top: 40px;
    padding: 10px 0 10px 0 ;
}
header .learn-more-btn a {
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5em 1em;
    font-family: var(--font2);
    border-radius: 30px;
    border: 2px solid var(--red);
    background-color: var(--red);
    transition: 0.4s;
}

header .learn-more-btn a:hover {
    border: 2px solid var(--red);
    background: none;
}


.since-cnt h6 {
    position: absolute;
    font-size: 1.65rem;
    letter-spacing: 3px;
    font-weight: 100;
    right: 65px;
    bottom: 100px;
    transform: rotateZ(270deg);
    opacity: 0.7;
}

.since-cnt h6::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -80px;
    width: 70px;
    height: 1px;
    background-color: var(--white);
    opacity: 0.7;

}


/* ----------MENU STARTS HERE---------- */
#menu{
    width: 100%;
    height: 100%;
    background: url(../img/signature2-07.png) no-repeat #FFFFE6;
    background-size: auto;
    background-position: left -100px top 200px;
}

.menu-border{
    width: 100%;
    height: inherit;
}

.menu-corner{
    position: absolute;
    background: url(../img/SVG/corner2.svg) no-repeat;
    width: 100%;
    height: 100%;
    max-width: 205px;
    max-height: 205px;
    right: 110px;
    margin-top: 110px;
}

.menu-corner:before{
    content: '';
    position: absolute;
    top: 0%;
    left: -2994px;
    width: 3000px;
    height: 6px;
    background-color: #b91f32;
}

.menu-corner:after{
    content: '';
    position: absolute;
    top: 200px;
    right: 19px;
    width: 6px;
    height: 2000px;
    background-color: #b91f32;
}

.menu-container{
    width: 100%;
    height: 100%;
    padding: 100px 210px 5% 210px;
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.menu-header{
    width: 100%;
    padding-top: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header .leftbar, .rightbar{
    width: 5%;
    height: 2px;
    background-color: var(--dark);
    opacity: 0.7;
}

.menu-header .header-title{
    padding: 0 15px 0 15px;
}
.menu-container img{
    width:200px;
    max-height: 280px;
    filter: var(--shadowfilter);
    transition: 0.6s ease;
}

.menu-container img:hover{
    transform: scale(1.2);
}

.menu-item-group{
    text-align: center;
}

.menu-item{
    position: relative;
}

.menu-item-group .menu-item .title {
    margin-top: 2em;
}

input{
    opacity: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    user-select: none;
}

input[type=radio]:checked ~ .menu-item-info{
    display: flex;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;

    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    background-color: #c32032;
}
.menu-item-info{
    position: absolute;

    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    -webkit-transform-origin: left center;
    transform-origin: left center;

    left: 60%;
    top: 40%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 1%;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.menu-item-info .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15%;
    border-radius: 100%;
    border: 1px solid #e4d2bc;
    text-align: center;
    overflow-wrap: break-word;  
}

.menu-item-info .inner p{
    color: var(--white);
}

